.target{
    background-color: silver;
    justify-content: center;
    display: flex;
    gap: 5px;
}
.person{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 16px;
}
.info{
    width: 300px;
    font-size: 16px;
    font-family: Arial;
    display: flex;
    align-items: center;
    margin-left: 20px;
}